@font-face {
  font-family: 'AliFangYuan';
  src: url('/src/assets/fonts/AlimamaFangYuanTiVF-Thin.ttf');
}

@font-face {
  font-family: 'AliDaoLiTi';
  src: url('/src/assets/fonts/AlimamaDaoLiTi.ttf');
}

@font-face {
  font-family: 'AliDongFangDaKai';
  src: url('/src/assets/fonts/AlimamaDongFangDaKai-Regular.ttf');
}
