@font-face {
  font-family: 'AliFangYuan';
  src: url('/src/assets/fonts/AlimamaFangYuanTiVF-Thin.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'PingFang';
  src: url('/src/assets/fonts/PingFang Medium.ttf');
  font-display: swap;
}
