@supports (top: env(safe-area-inset-top)) {
  :root {
    --safe-area-inset-top: env(safe-area-inset-top);
  }
}

/* 兼容旧版 iOS 的 constant() */
@supports (top: constant(safe-area-inset-top)) {
  :root {
    --safe-area-inset-top: constant(safe-area-inset-top);
  }
}

/* 移动端特定样式 */
/* Naive UI 消息组件安全区域适配 */
.n-message-container.n-message-container--top {
  top: var(--safe-area-inset-top);
}
