@mixin action() {
  padding: 6px 8px 6px 8px;
  &:not(.active):hover {
    background: var(--left-bg-hover);
    border-radius: 8px;
    color: var(--left-active-hover);
    cursor: pointer;
    animation: linearAnimation 3s linear forwards;
  }
}

.left {
  background: var(--left-bg-color);
}

.top-action,
.bottom-action,
.more {
  @include action;
}

.active {
  background: var(--left-active-bg-color);
  border-radius: 8px;
  color: var(--left-active-icon-color);
}

.setting-item {
  @include menu-item-style(absolute);
  @include menu-list();
}

.mac-close:hover {
  svg {
    display: block;
  }
}

.item-hover {
  @apply select-none hover:bg-[--info-hover] cursor-pointer w-fit rounded-10px p-4px;
  transition: all 0.4s ease-in-out;
}

:deep(.n-badge .n-badge-sup) {
  font-weight: bold;
  font-size: 10px;
}

:deep(.n-badge) {
  color: inherit;
}
