.resizable {
  height: 100%;
  position: relative;
  overflow: hidden;
  background: var(--center-bg-color);
}

.resize-handle {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 6px;
  cursor: ew-resize;
  z-index: 9999;
  background: transparent;
  &:hover {
    .drag-icon {
      opacity: 1;
    }
  }
}

.add-item {
  @include menu-item-style(absolute);
  top: 36px;
  right: 10px;
  @include menu-list();
}
