/** 修改自定义的关闭和最小化图标的样式 */
:deep(.hover-box) {
  @apply w-28px h24px flex-center hover:bg-#e7e7e7;
  svg {
    color: #404040;
  }
}
:deep(.action-close) {
  svg {
    color: #404040;
  }
}
/** 改变输入框中的位置 */
:deep(.n-input .n-input__input, .n-input .n-input__textarea) {
  margin-left: 22px;
}

/** 自定义密码输入框圆点样式 */
:deep(.n-input .n-input__input-el[type="password"]) {
  font-size: 22px !important; /* 增大圆点大小 */
  font-family: 'Courier New', monospace !important; /* 使用等宽字体 */
  line-height: 22px;
}

/** 隐藏naive UI的滚动条 */
:deep(
    .n-scrollbar > .n-scrollbar-rail.n-scrollbar-rail--vertical > .n-scrollbar-rail__scrollbar,
    .n-scrollbar + .n-scrollbar-rail.n-scrollbar-rail--vertical > .n-scrollbar-rail__scrollbar
  ) {
  display: none;
}

/** 登录按钮样式 */
.gradient-button {
  @apply text-#fff border-none;
  background: linear-gradient(to left, #7db1ac, #87c0c4);
  box-shadow:
    inset 0px 3px 16px 0px rgba(255, 255, 255, 0.5),
    inset 0px -2px 27px 0px rgba(105, 187, 157, 0.76),
    inset 0px 2px 6px 0px rgba(254, 254, 254, 0.5);
  &:span {
    color: #fff;
  }
}
